<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tdr.wisdome">

    <permission
        android:name="com.tdr.wisdome.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="com.tdr.wisdome.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>

    <!--蓝牙ble-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- 二维码扫描相关权限 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <!-- 手机震动 权限 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- GPS定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    //判断应用是否在前台
    <application
        android:name="com.kingja.cardpackage.base.App"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 主界面 -->
        <activity
            android:name=".actvitiy.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="jp.app"
                    android:pathPrefix="/openwith/"
                    android:scheme="TDRCard"/>
            </intent-filter>
        </activity>
        <!-- 设置密码 -->
        <activity
            android:name=".actvitiy.SetPwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 选择城市 -->
        <activity
            android:name=".actvitiy.CityPickerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|adjustUnspecified">
        </activity>
        <!-- 忘记密码 -->
        <activity
            android:name=".actvitiy.ForgetPwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 完善资料 -->
        <activity
            android:name=".actvitiy.PerfectActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 个人中心 -->
        <activity
            android:name=".actvitiy.PersonalActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 实名认证 -->
        <activity
            android:name=".actvitiy.RealNameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 个人信息 -->
        <activity
            android:name=".actvitiy.UploadIdentityActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 设置昵称 -->
        <activity
            android:name=".actvitiy.SetNickNameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 我的卡包 -->
        <activity
            android:name=".actvitiy.PackageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".actvitiy.CardManagerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 个人信息 -->
        <activity
            android:name=".actvitiy.PersonInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 我的信息 -->
        <!-- 亲情关爱主页面 -->
        <activity
            android:name=".actvitiy.MainCareActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 关爱老人 -->
        <activity
            android:name=".actvitiy.AddOlderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 关爱老人-监护人 -->
        <activity
            android:name=".actvitiy.AddGuardianActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 关爱老人-二维码 -->
        <activity
            android:name=".actvitiy.QrCodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan"/>
        <!-- 关爱老人-选项卡 -->
        <activity
            android:name=".actvitiy.OlderSelectActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 人员配置 -->
        <activity
            android:name=".actvitiy.OlderShareActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 人员配置-修改 -->
        <activity
            android:name=".actvitiy.ModifyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 人员配置-病情 -->
        <activity
            android:name=".actvitiy.HealthActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 人员配置-新增监护人 -->
        <activity
            android:name=".actvitiy.GuardianActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 老人-设备配置 -->
        <activity
            android:name=".actvitiy.DeviceConfigActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 老人-丢失报警 -->
        <activity
            android:name=".actvitiy.LostAlarmActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 我的车-主页面 -->
        <!-- URL -->
        <activity
            android:name=".actvitiy.UrlActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <!-- 车辆绑定 -->
        <activity
            android:name=".actvitiy.CarBindingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <!-- 车辆预登记 -->
        <activity
            android:name=".actvitiy.PreRegistrationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <!-- 车辆报警列表 -->

        <!-- 预登记车辆二维码 -->
        <activity
            android:name=".actvitiy.CarQrActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <!-- 车辆预登记信息修改 -->
        <activity
            android:name=".actvitiy.ModifyPreActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <!-- 高德地图 -->
        <activity
            android:name=".amap.MapActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 二维码扫描 -->
        <activity
            android:name=".zbar.CaptureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 保险状态 -->
        <activity
            android:name="com.kingja.cardpackage.activity.InsuranceStatusActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 申报理赔 -->
        <activity
            android:name="com.kingja.cardpackage.activity.InsuranceApplyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 品牌选择 -->
        <activity
            android:name=".actvitiy.BrandActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 浏览大图 -->
        <activity
            android:name=".actvitiy.BigImageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <!-- OCR -->
        <activity
            android:name="com.yunmai.android.idcard.ACamera"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.yunmai.android.idcard.ARecognize"
            android:configChanges="orientation|keyboard|keyboardHidden">
        </activity>

        <!-- 高德地图定位 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="6a83bf0f9adee442d0a864327dd7b340"/>
        <!-- 测试最新可用 6a83bf0f9adee442d0a864327dd7b340 -->
        <!-- 测试 4c2c5ec8c900ea26f26e03270d176b92 -->
        <!-- 正式 6a83bf0f9adee442d0a864327dd7b340 -->


        <!-- 极光推送 -->
        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService"/>

                <category android:name="com.tdr.wisdome"/>
            </intent-filter>
        </service>
        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/> <!-- Required  显示通知栏 -->
                <category android:name="com.tdr.wisdome"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false"/>

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".jpush.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK"/> <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION"/> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.tdr.wisdome"/>
            </intent-filter>
        </receiver>

        <!-- ===========================================================KingJA=========================================================== -->
        <activity
            android:name="com.kingja.cardpackage.activity.RentActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/> <!-- 我家出租屋列表 -->
        <activity
            android:name="com.kingja.cardpackage.activity.HouseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/> <!-- 我的家列表 -->
        <activity
            android:name="com.kingja.cardpackage.activity.ShopActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/> <!-- 我的店列表 -->
        <activity
            android:name="com.kingja.cardpackage.activity.DetailHouseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/> <!-- 我的家详情 -->
        <activity
            android:name="com.kingja.cardpackage.activity.DetailRentActivity"
            android:screenOrientation="portrait"/> <!-- 我家出租屋详情 -->
        <activity
            android:name="com.kingja.cardpackage.activity.DetailShopActivity"
            android:screenOrientation="portrait"/> <!-- 店铺详情 -->
        <activity
            android:name="com.kingja.cardpackage.activity.RoomListActivity"
            android:screenOrientation="portrait"/> <!-- 房间列表 -->
        <activity
            android:name="com.kingja.cardpackage.activity.PersonManagerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.kingja.cardpackage.activity.PersonManagerActivity2"
            android:screenOrientation="portrait"/> <!-- 人员管理 -->
        <activity
            android:name="com.kingja.cardpackage.activity.RoomManagerActivity"
            android:screenOrientation="portrait"/> <!-- 房屋管理 -->
        <activity
            android:name="com.kingja.cardpackage.activity.EditNumberActivity"
            android:screenOrientation="portrait"/> <!-- 数字编辑 -->
        <activity
            android:name="com.kingja.cardpackage.activity.EditTextActivity"
            android:screenOrientation="portrait"/> <!-- 数字编辑 -->
        <activity
            android:name="com.kingja.cardpackage.activity.EditRoomActivity"
            android:screenOrientation="portrait"/> <!-- 房间编辑 -->
        <activity
            android:name="com.kingja.cardpackage.activity.EditTextAreaActivity"
            android:screenOrientation="portrait"/> <!-- 标题，备注编辑 -->
        <activity
            android:name="com.kingja.cardpackage.activity.EditGvActivity"
            android:screenOrientation="portrait"/> <!-- 选择编辑 -->
        <activity
            android:name="com.kingja.cardpackage.activity.RentDeviceInfoActivity"
            android:screenOrientation="portrait"/> <!-- 设备信息 -->
        <activity
            android:name="com.kingja.cardpackage.activity.PersonApplyActivity"
            android:screenOrientation="portrait"/> <!-- 人员申报 -->
        <activity
            android:name="com.kingja.cardpackage.activity.AlarmAgentActivity"
            android:screenOrientation="portrait"/> <!-- 出租房预警信息 -->
        <activity
            android:name="com.kingja.cardpackage.activity.RentAdminActivity"
            android:screenOrientation="portrait"/> <!-- 管理员列表信息 -->
        <activity
            android:name="com.kingja.cardpackage.activity.AdminQRCodeActivity"
            android:screenOrientation="portrait"/> <!-- 出租房二维码 -->
        <activity
            android:name="com.kingja.cardpackage.activity.DetailAgentActivity"
            android:screenOrientation="portrait"/> <!-- 出租房代管详情页 -->

        <activity
            android:name="com.kingja.cardpackage.activity.KCamera"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="landscape"/>
        > <!-- OCR界面 -->
        <!-- ========== ========== ========== 我的住房 ========== ========== ========== -->
        <activity
            android:name="com.kingja.cardpackage.activity.HouseDeviceInfoActivity"
            android:screenOrientation="portrait"/> <!-- 设备信息 -->


        <!-- ========== ========== ========== 出租房代管 ========== ========== ========== -->
        <activity
            android:name="com.kingja.cardpackage.activity.AgentActivity"
            android:screenOrientation="portrait"/> <!-- 出租房代管列表 -->
        <!-- ========== ========== ========== 我的店 ========== ========== ========== -->
        <activity
            android:name="com.kingja.cardpackage.activity.AddShopActivity"
            android:screenOrientation="portrait"/> <!-- 添加店铺 -->
        <activity
            android:name="com.kingja.cardpackage.activity.ShopPersonActivity"
            android:screenOrientation="portrait"/> <!-- 店铺员工管理 -->
        <activity
            android:name="com.kingja.cardpackage.activity.ShopManagerActivity"
            android:screenOrientation="portrait"/> <!-- 店铺信息 -->
        <activity
            android:name="com.kingja.cardpackage.activity.EditLvActivity"
            android:screenOrientation="portrait"/> <!-- 编辑列表 -->
        <activity
            android:name="com.kingja.cardpackage.activity.ShopPersonQRCodeActivity"
            android:screenOrientation="portrait"/> <!-- 店铺二维码 -->
        <activity
            android:name="com.kingja.cardpackage.activity.ShopDeviceActivity"
            android:screenOrientation="portrait"/> <!-- 店铺设备列表 -->
        <activity
            android:name="com.kingja.cardpackage.activity.ShopDeviceBindActivity"
            android:screenOrientation="portrait"/> <!-- 店铺设备绑定 -->
        <activity
            android:name="com.kingja.cardpackage.activity.AlarmShopActivity"
            android:screenOrientation="portrait"/> <!-- 店铺预警信息 -->

        <activity
            android:name="com.kingja.cardpackage.activity.AddedShopActivity"
            android:screenOrientation="portrait"/> <!-- 已加店铺 -->

        <activity
            android:name="com.kingja.cardpackage.activity.TransferShopQRCodeActivity"
            android:screenOrientation="portrait"/> <!-- 店铺转让 -->

        <activity
            android:name="com.kingja.cardpackage.activity.SplashActivity"
            android:screenOrientation="portrait"/> <!-- 闪屏页面 -->
        <activity
            android:name="com.kingja.cardpackage.activity.AlarmRentActivity"
            android:screenOrientation="portrait"/> <!-- 出租屋预警信息 -->
        <activity
            android:name="com.kingja.cardpackage.activity.AlarmHouseActivity"
            android:screenOrientation="portrait"/> <!-- 出租屋预警信息 -->
        <activity
            android:name="com.kingja.cardpackage.activity.RecordSiteActivity"
            android:screenOrientation="portrait"/> <!-- 预约时间 -->
        <activity
            android:name="com.kingja.cardpackage.activity.MeetFromActivity"
            android:screenOrientation="portrait"/> <!-- 预约时间段 -->
        <activity
            android:name="com.kingja.cardpackage.activity.PreRecordInfoActivity"
            android:screenOrientation="portrait"/> <!-- 预约信息 -->
        <activity
            android:name="com.kingja.cardpackage.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/> <!-- 新登录界面 -->
        <activity
            android:name="com.kingja.cardpackage.activity.RegisterActivity"
            android:screenOrientation="portrait"/> <!-- 新注册界面 -->
        <activity
            android:name="com.kingja.cardpackage.activity.ForgetActivityPhone"
            android:screenOrientation="portrait"/> <!-- 忘记密码 输入手机号 -->
        <activity
            android:name="com.kingja.cardpackage.activity.ForgetActivityCode"
            android:screenOrientation="portrait"/> <!-- 忘记密码 输入验证码 -->

        <activity
            android:name="com.kingja.cardpackage.activity.ForgetActivityPassword"
            android:screenOrientation="portrait"/> <!-- 忘记密码 输入新密码 -->
        <activity
            android:name="com.kingja.cardpackage.activity.LoginReActivity"
            android:screenOrientation="portrait"/> <!-- 重新登录 -->
        <activity
            android:name="com.kingja.cardpackage.activity.MyCarActivity"
            android:screenOrientation="portrait"/> <!-- 我的车 -->
        <activity
            android:name="com.kingja.cardpackage.activity.PreRegisterInfoActivity"
            android:screenOrientation="portrait"/> <!-- 预登记 -->
        <activity
            android:name="com.kingja.cardpackage.activity.CarDetailActivity"
            android:screenOrientation="portrait"/> <!-- 车辆详情 -->
        <activity
            android:name="com.kingja.cardpackage.activity.PreRecordSuccessActivity"
            android:screenOrientation="portrait"/> <!-- 预登记成功 -->
        <activity
            android:name="com.kingja.cardpackage.activity.CardMsgActivity"
            android:screenOrientation="portrait"/> <!-- 我的消息 -->
        <activity
            android:name="com.kingja.cardpackage.activity.IntermediaryActivity"
            android:screenOrientation="portrait"/> <!-- 出租房中介 -->
        <activity
            android:name="com.kingja.cardpackage.activity.NewCarActivity"
            android:screenOrientation="portrait"/> <!-- 我的车 -->
        <activity
            android:name="com.kingja.cardpackage.activity.InsuranceListActivity"
            android:screenOrientation="portrait"/> <!-- 保险理赔 -->
        <activity
            android:name="com.kingja.cardpackage.activity.NewCarAlarmActivity"
            android:screenOrientation="portrait"/> <!-- 报警记录 -->
        <activity
            android:name="com.kingja.cardpackage.activity.MyMsgActivity"
            android:screenOrientation="portrait"/> <!-- 我的消息 -->
        <activity
            android:name="com.kingja.cardpackage.activity.EntrustDeployActivity"
            android:screenOrientation="portrait"/> <!-- 委托布防 -->
        <activity
            android:name="com.kingja.cardpackage.activity.AutoDeployActivity"
            android:screenOrientation="portrait"/> <!-- 自动撤布防 -->
        <activity
            android:name="com.kingja.cardpackage.activity.WeekSelectActivity"
            android:screenOrientation="portrait"/> <!-- 星期选择 -->
        <activity
            android:name="com.kingja.cardpackage.activity.CardMsgDetailActivity"
            android:screenOrientation="portrait"/> <!-- 卡消息详情 -->
        <activity
            android:name="com.kingja.cardpackage.activity.CarMsgActivity"
            android:screenOrientation="portrait"/> <!-- 我的车消息 -->
        <activity
            android:name="com.kingja.cardpackage.activity.CarMsgDetailActivity"
            android:screenOrientation="portrait"/> <!-- 我的车消息详情 -->
        <activity
            android:name="com.kingja.cardpackage.activity.PreRegisterActivity"
            android:screenOrientation="portrait"/> <!-- 预登记 -->
        <activity
            android:name="com.kingja.cardpackage.activity.InvoiceListActivity"
            android:screenOrientation="portrait"/> <!-- 发票列表 -->
        <activity
            android:name="com.kingja.cardpackage.activity.DetailInvoiceActivity"
            android:screenOrientation="portrait"/> <!-- 发票详情 -->
        <activity
            android:name="com.kingja.cardpackage.activity.UnregisteredApplyActivity"
            android:screenOrientation="portrait"/> <!-- 未登记地址申报 -->
        <activity
            android:name="com.kingja.cardpackage.activity.NfcRoomActivity"
            android:screenOrientation="portrait"/> <!-- NFC门禁 -->
        <activity
            android:name="com.kingja.cardpackage.activity.PerfectInfoActivity"
            android:screenOrientation="portrait"/> <!-- 新完善资料 -->

        <activity
            android:name="com.kingja.cardpackage.activity.BluetoothSearchActivity"
            android:screenOrientation="portrait"/> <!-- 蓝牙连接 -->
        <activity
            android:name="com.kingja.cardpackage.activity.ChargeRecordActivity"
            android:screenOrientation="portrait"/> <!-- 充电记录 -->
        <activity
            android:name="com.kingja.cardpackage.activity.AutoChargeActivity"
            android:screenOrientation="portrait"/> <!-- 自动充电 -->
        <activity
            android:name="com.kingja.cardpackage.activity.TopChargeActivity"
            android:screenOrientation="portrait"/> <!-- 峰谷充电 -->

        <activity
            android:name="com.kingja.cardpackage.activity.ChargerActivity"
            android:screenOrientation="portrait"/> <!-- 充电器 -->
        <activity
            android:name="com.kingja.cardpackage.activity.ChargeAlarmActivity"
            android:screenOrientation="portrait"/> <!-- 充电预警 -->
        <!-- 自动充电配置 -->
        <activity
            android:name="com.kingja.cardpackage.activity.ModifyTopChargeActivity"
            android:screenOrientation="portrait"/> <!-- 峰谷充电配置修改-->
        <activity
            android:name="com.kingja.cardpackage.activity.ModifyAutoChargeActivity"
            android:screenOrientation="portrait"/> <!-- 自动充电配置修改-->
        <activity
            android:name="com.kingja.cardpackage.activity.AddTopChargeActivity"
            android:screenOrientation="portrait"/> <!-- 添加峰谷充电配置 -->
        <activity
            android:name="com.kingja.cardpackage.activity.AddAutoChargeActivity"
            android:screenOrientation="portrait"/> <!-- 添加自动充电配置 -->
        <activity
            android:name="com.kingja.cardpackage.activity.ChargeRecordDetailActivity"
            android:screenOrientation="portrait"/> <!-- 充电记录详情 -->
        <activity
            android:name="com.kingja.cardpackage.activity.ChargeListActivity"
            android:screenOrientation="portrait"/> <!-- 充电器列表 -->
        <activity
            android:name="com.kingja.cardpackage.activity.BindCodeActivity"
            android:screenOrientation="portrait"/> <!-- 微信绑定 -->
        <service android:name="com.kingja.cardpackage.service.JPushDispathService"/> <!-- 推送分发服务 -->
    </application>

</manifest>